/*Body and HTML*/
body{
    background-color: #2B2B2B;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, serif;
    margin: 0;
    height: 100%;
    text-align: justify;
}
html{
    display: table;
    margin: auto;
    height: 100%;
}
* {
    box-sizing: border-box;
}

/*Header*/
header {
    padding: 5px;
}

/*Navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Links*/
a:visited{
    color:orangered;
}

/*3 column disposition*/
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 25px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Deck pictures*/
.deck_pictures{
    text-align: center;
}

/*Index disposition*/
.index{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    display: table;
}
table{
    width: 100%;
}

/*Table*/
th, td {
    padding: 6px;
    text-align: left;
}
tr:nth-child(even) {background-color: #333333;}
th {
    background-color: darkgray;
    color: #2b2b2b;
}
.better{
    text-decoration: underline;
}

/*Cards*/
.notnescessary{
    color: orange;
}
.dontcraft{
    color: red;
}
.core{
    color: green;
}
em{
    color: red;
    font-style: normal;
}

/*Image Hover*/
.possible_replacement_img{
    height: 300px;
}
.hover_img span { position:relative; }
.hover_img span>span { position:absolute; display:none; z-index:99; }
.hover_img span:hover span { display:block; }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/*Footer*/
footer{
    text-align: center;
}
